body {
	font-family: 'Avenir', 'Raleway', sans-serif;
	font-weight: 300;
  font-size: 18px;
  line-height: 1.75;
  color: #424242;
	margin-top: 50px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'Avenir', 'Raleway', sans-serif;
	font-weight: 300;
	color: #3a3a3a;
}

/* Top Nav Bar */
.navbar-default .navbar-nav>li>a {
	color: #424242;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #0163BE;
	font-weight: 500;
}

.navbar-default {
    background-color: #FFFFFF;
    border: none;
}

.navbar-default .navbar-brand {
    color: #0163BE;
		font-weight: 500;
}

.navbar-right {
    margin-right: 0px;
}

.navbar-fixed-top{
	margin-bottom:0px;
	border: 0px;
	-webkit-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.25);
}

.nav-projects{
	background-color: #0163BE;
}

.nav-projects a{
	color: #ffffff !important;
}

.nav-projects-previous{
	margin-right: 1px;
}

.nav-projects-disabled {
	background-color: #BDBDBD
}

.nav-projects-disabled a{
	color: #eeeeee;
	cursor: default;
}

blockquote {
	border-left:5px solid #0163BE;
	background-color: #f5f5f5;
}

/* Project Title */
.project-title {
	background-color:#eeeeee;
	text-align: center;
	margin-bottom: 50px;
}

.project-jumbotron{
	margin: 0px;
	min-height: 300px
}

.jumbotron {
	background-color: #0163BE1a;
	margin: 0px;
	margin-top: 50px;
	text-align: center;
}

.jumbotron h1{
	color: #0163BE;
	margin-top: 48px;
	font-size: 36px;
	text-align: center;
	line-height: 1.1;
	margin:25px 0px;
}

/* Project Text */
.jumbotron h1 small{
	color: #0163BE;
	font-size: 24px;
	line-height: 1;
	color: #4E4E4E;
}

.project_content h2{
	margin-top: 72px;
	font-weight: 600;
	font-size: 28px;
	/*margin-bottom: -20px;
	color: #0163BE;*/
}

.project_content h3{
	margin-top: 32px;
	margin-bottom: 0px;
	font-weight: 600;
	font-size: 21px
}

.project_content h4{
	font-weight: 300;
	color: #0163BE;
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 0px;
}

.project_content p{
	margin-top: 8px;
}

.project_content ul{
	margin-top: 8px;
}

.project_content img{
	margin-top: 24px;
	margin-bottom: 24px;
}

.highlight-section{
	background-color: #f5f5f5;
	margin-top: 50px;
	padding-bottom: 75px;
}

.highlight-section h2{
	margin-top: 75px;
	margin-bottom: -75px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.emphasis {
	font-weight: bold;
}

.project_content .img-border{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin-top: 30px;
}

.image-quote{
	text-align:center;
	padding: 50px 10px;
	color: #ffffff;
}

.image-quote small{
	color: #0163BE;
}

.image-shadow{
	box-shadow: #ddd 0 0 3px 0;
	width: 100%;
}

/* Project Thumbnails home page */
.newportfoliolist{
	width: 100%;
	height: 200px;
	background-position: center center;
	background-size: cover;
	text-align: center;
	display: table;
	transition: box-shadow 0.3s ease-in-out;
}

.newportfoliolist span{
	display: none;
}

.newportfoliolist:hover{
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.newportfoliolist:hover span {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		height: 100%;
		/*background-color: rgba(0, 0, 0, 0.65);
		background-blend-mode: normal;*/
		color: white;
}

.newportfoliolist span h3, .newportfoliolist span h3 small {
	color: white
}

.badge {
	border-radius: 0px;
	font-weight: normal;
	color: #808080;
	background-color: #F5F5F5;
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bsnavbar
{
  margin-bottom: 19px;
  min-height:124px;
}

.bs-sidebar.affix {
  position: static;
}

/* First level of nav */
.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f5f5f5;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;

}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #2e8bcc;
  background-color: transparent;
  border-right: 1px solid #2e8bcc;
}


.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}



/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */

  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 263px;
  }
}

/*
 Resume
 */
 .resume_element{
	margin-bottom: 30px
 }


 /*
 * Footer
 *
 * Separated section of content at the bottom of all pages, save the homepage.
 */
.bs-footer {
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.bs-footer .container {
	background-color: #f5f5f5;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px
}

.bs-footer .container .pull-right a img{
	width: 35px;
}

.footer-links {
  margin: 10px 0;
  padding-left: 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

@media (min-width: 768px) {
  .bs-footer {
    text-align: left;
  }
  .bs-footer p {
    margin-bottom: 0;
  }
}



@media all and (min-width: 900px) {
	.two-column-flow  {
		-webkit-column-count: 2;
		-webkit-column-gap: 3%; /* Saf3, Chrome*/
		-moz-column-count: 2;
		-moz-column-gap: 3%; /* FF3.5+ */
		column-count: 2;
		column-gap: 3%; /* Opera 11+*/
	}

	.three-column-flow  {
		-webkit-column-count: 3;
		-webkit-column-gap: 1%; /* Saf3, Chrome*/
		-moz-column-count: 3;
		-moz-column-gap: 1%; /* FF3.5+ */
		column-count: 3;
		column-gap: 1%; /* Opera 11+*/
	}
}

.current{
	background-color: transparent;
	border: none;
	border-top: 1px solid #ddd;
	cursor: default;
	color: #fff;
}

.current a{
	border: none;
	border-top: 1px solid #ddd;
	cursor: default;
	color: #fff;
}

.side-projects{
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 30px;
}

.side-projects h3{
	margin: 0px;
	font-weight: 500;
}

.side-projects p{
	margin: 0px;
}

.side-projects img{
	width: 33%;
	min-width: 300px;
}

.side-projects div{
	flex-grow: 1;
	align-self: flex-start;
	flex-basis: 0;
	min-width: 400px;
	margin: auto 15px;
}

/* Special */
.mavenly-screens {
	font-size: 12px;
	color: #000000;
}
